[submodule "conductor"]
	path = conductor
	url = git@github.com:dataloom/conductor.git
[submodule "datastore"]
	path = datastore
	url = git@github.com:dataloom/datastore.git
[submodule "rhizome"]
	path = rhizome
	url = git@github.com:kryptnostic/rhizome.git
[submodule "conductor-client"]
	path = conductor-client
	url = git@github.com:dataloom/conductor-client.git
[submodule "kindling"]
	path = kindling
	url = git@github.com:dataloom/kindling.git
[submodule "slate"]
	path = slate
	url = git@github.com:kryptnostic/slate.git
[submodule "gallery"]
	path = gallery
	url = git@github.com:kryptnostic/gallery.git
[submodule "slingshot"]
	path = slingshot
	url = git@github.com:kryptnostic/slingshot.git
[submodule "shuttle"]
	path = shuttle
	url = git@github.com:dataloom/shuttle.git
[submodule "loom-api"]
	path = loom-api
	url = git@github.com:dataloom/loom-api.git
[submodule "gradles"]
	path = gradles
	url = git@github.com:kryptnostic/gradles.git
[submodule "rhizome-client"]
	path = rhizome-client
	url = git@github.com:dataloom/rhizome-client.git
[submodule "courier"]
	path = courier
	url = git@github.com:dataloom/courier.git
[submodule "scribe"]
	path = scribe
	url = git@github.com:dataloom/scribe.git
[submodule "integrations"]
	path = integrations
	url = git@github.com:dataloom/integrations.git
[submodule "neuron"]
	path = neuron
	url = git@github.com:dataloom/neuron.git
[submodule "mechanic"]
	path = mechanic
	url = git@github.com:dataloom/mechanic.git
